
@model MyPham.Models.HoaDon

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<MyPham.Models.SanPham> sp = (List<MyPham.Models.SanPham>)ViewBag.SanPham;
    var ghiChu = Model.GhiChu;
}

<main id="main" class="row d-flex justify-content-center align-items-center">
    <div class="col-12 grid-margin pt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin chi tiết hóa đơn</h4>
                <form class="form-sample">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label"> @Html.DisplayNameFor(model => model.GioHang.MaGioHang)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.MaGioHang)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.NgayTao)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.NgayTao)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label"> @Html.DisplayNameFor(model => model.TinhTrang)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.TinhTrang)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.SoDienThoai)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.SoDienThoai)</label>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.HinhThucVanChuyen)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.HinhThucVanChuyen)</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.HinhThucThanhToan)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.HinhThucThanhToan)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        @if (ghiChu != "")
                        {
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.GhiChu)</label>
                                    <div class="col-sm-8">
                                        <label class="col-form-label">: @Html.DisplayFor(model => model.GhiChu)</label>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.HoTen)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.HoTen)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.DiaChi)</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.DiaChi)</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <table id="recent-purchases-listing" class="table">
                        <thead>
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>

                                <th>
                                    Ảnh
                                </th>

                                <th>
                                    Giá
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in sp)
                            {
                                <tr>
                                    <td>
                                        @item.TenSP
                                    </td>
                                    <td>

                                        @{
                                            string ImagePath = "~/wwwroot/images/SanPham/" + item.AnhSP;
                                        }
                                        <img src="@Url.Content(ImagePath)" style="width:100px;height:auto;border-radius:0px" />
                                    </td>
                                    <td>
                                        @String.Format("{0:#,###}", item.Gia)
                                    </td>
                                    <td>
                                        @item.SoLuongTon   @*Biến số lượng *@
                                    </td>
                                    <td>
                                        @String.Format("{0:#,###}", (item.Gia * item.SoLuongTon)) đ
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        @{ 
                            string link = "/GioHang/XemHoaDon/" + Session["idUser"];
                        }
                        <a class="nav-link" href="@Url.Content(link)">
                            <span class="menu-title btn btn-outline-primary btn-fw ">Quay lại</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </main>


